section {
    min-height: 50vh;
}

.carousel-caption h5 {
    color: white;
}

.carousel-caption p {
    color: white;
}

.carousel-indicators button {
    background-color: black !important;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px #ccc solid;
    font-size: 18px;
    padding: 5px 10px
}

.centrar {
    text-align: center;
}

#btn-registrar {
    font-weight: bold;
    padding: 8px 15px ;
    margin-top: 15px;
    margin-bottom: 15px

}